{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    <form method="post"  class="settings-form" action="{% url 'product:generate-dummy-products' %}" id="dummy-product-form">
                        {% csrf_token %}
                        
                        <!-- Category Field -->
                        <div class="mb-3">
                            <label for="num_of_products" class="form-label">No of products</label>
                            <input type="number" step="1"  min="1" max="1000" class="form-control" id="num_of_products" name="num_of_products" placeholder="No of product" value="{{ form.price.value|default:'' }}" required>

                            {% if form.num_of_products.errors %}
                                <div class="text-danger">
                                    {{ form.num_of_products.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mb-3 text-right">
                            <button type="submit" class="btn app-btn-primary">Generate
                            </button>
                            <a href="{% url 'product:product-list' %}" class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#dummy-product-form').on('submit', function(event) {
        event.preventDefault();  // Prevent default form submission

        // Prepare form data
        var formData = $(this).serialize();

        // AJAX request
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            success: function(response) {
                console.log("response=============", response)
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.message,
                        confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: response.message,
                        confirmButtonText: 'OK'
                    });
                }
                $('#dummy-product-form')[0].reset()
            },
            error: function() {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops!',
                    text: 'Something went wrong. Please try again later.',
                    confirmButtonText: 'OK'
                });
            }
        });
    });
});
</script>
{% endblock %}