{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-white text-center">
                    <h5>Product Details</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p class="card-title"><strong>Product:</strong>{{ product.title }}</p>
                            <p class="card-text"><strong>Category:</strong> {{ product.category.name }}</p>
                            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
                            <p class="card-text"><strong>Status:</strong> {{ product.get_status_display }}</p>
                            <p class="card-text"><strong>Created At:</strong> {{ product.created_at }}</p>
                            <p class="card-text"><strong>Updated At:</strong> {{ product.updated_at }}</p>
                            <p class="card-text"><strong>Created By:</strong> {{ product.created_by.username }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><strong>Description:</strong>{{ product.description }}</p>
                            <h5 class="card-title">Video:</h5>
                            {% if product.video %}
                                <div class="embed-responsive embed-responsive-16by9 mb-3">
                                    <video controls class="embed-responsive-item" style="width: 100%;">
                                        <source src="{{ product.video.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            {% else %}
                                <p>No Video</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'product:product-list' %}" class="btn btn-secondary">Back to Product List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
