{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>{{ product.title }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Category: {{ product.category.name }}</h5>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <p class="card-text"><strong>Status:</strong> {{ product.get_status_display }}</p>
            <p class="card-text"><strong>Created At:</strong> {{ product.created_at }}</p>
            <p class="card-text"><strong>Updated At:</strong> {{ product.updated_at }}</p>
            <p class="card-text"><strong>Created By:</strong> {{ product.created_by.username }}</p>
            <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
            <p class="card-text"><strong>Video:</strong> 
                {% if product.video %}
                    <a href="{{ product.video.url }}" target="_blank" class="btn btn-primary">View Video</a>
                {% else %}
                    No Video
                {% endif %}
            </p>
            <a href="{% url 'product:product-list' %}" class="btn btn-secondary">Back to Product List</a>
        </div>
    </div>
</div>

{% endblock %}