{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block content %}
<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">Encrypt-Decrypt Prodcut Data</h1>
    </div>

</div>

{% for product in products %}

<div class="card m-2">
    <div id="product-{{product.id}}" class="row card-body">
        <div class="col-md-4">
            <div class="title">Name:{{product.title}}</div>
            <div class="category">Category:{{ product.category.name }}</div>
            <div class="price">Price:{{ product.price }}</div>
            <div class="status">Status:{{product.status}}</div>
            <button class="btn btn-primary encrypt-btn">Encrypt</button>
            <button class="btn  btn-primary decrypt-btn" > Decrypt</button>
        </div>
        <div class="col-md-3" >
            <strong> Encrypted Data:</strong>
            <div class="encryptdata">
    
            </div>
        </div>
        <div class="col-md-3">
            <strong> Decrypt Data:</strong>
            <div class="decryptdata">
                <div class="title"></div>
                <div class="category"></div>
                <div class="price"></strong></div>
                <div class="status"></div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">First</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="visually-hidden">Previous</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-disabled="true">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="visually-hidden">Previous</span>
            </span>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ num }}</span>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="visually-hidden">Last</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </span>
            </li>
            {% endif %}

</nav>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    const csrftoken = getCookie('csrftoken');
        // Encrypt button click event
        $('.encrypt-btn').click(function() {
            var productDiv = $(this).closest('.row');
            console.log("<>>>>>>>>>>>>>", productDiv.find('.encryptdata').text)
            productDiv.find('.encryptdata').text('')
            var productData = {
                title: productDiv.find('.title').text().replace('Name:', '').trim(),
                category: productDiv.find('.category').text().replace('Category:', '').trim(),
                price: productDiv.find('.price').text().replace('Price:', '').trim(),
                status: productDiv.find('.status').text().replace('Status:', '').trim(),
            };
            $.ajax({
                url: '/product/encryption/',  // Ensure this URL matches your Django view URL
                method: 'POST',
                contentType: 'application/json',
                headers: { 'X-CSRFToken': csrftoken },  // Include CSRF token
                data: JSON.stringify({data: productData}), // Sending encrypted data
                success: function(response) {
                    console.log("response", response)
                    if (response.success) {
                        console.log("response.data", response.data)
                        productDiv.find('.encryptdata').text(response.data);
                    } else {
                        alert('Encryption failed: ' + response.error);
                    }
                },
                error: function() {
                    alert('An error occurred while encrypting the data.');
                }
            });
        });

        // Decrypt button click event
        $('.decrypt-btn').click(function() {
            var productDiv = $(this).closest('.row');

            var encryptedText = $(this).closest('.row').find('.encryptdata').text();
            console.log('encryptedText: ', encryptedText)
            if (!encryptedText) {
                alert('No encrypted data available for decryption.');
                return;
            }

            $.ajax({
                url: '/product/decryption/',  // Ensure this URL matches your Django view URL
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ data: encryptedText }),
                headers: { 'X-CSRFToken': csrftoken },
                success: function(response) {
                    if (response.success) {
                        var decryptedData = response.data;
                        productDiv.find('.decryptdata .title ').html(`<strong>Name:</strong> ${decryptedData.title}`)
                        productDiv.find('.decryptdata .category').html(`<strong>Category:</strong> ${decryptedData.category}`)
                        productDiv.find('.decryptdata .price').html(`<strong>Price:</strong> ${decryptedData.price}`)
                        productDiv.find('.decryptdata .status').html(`<strong>Status:</strong> ${decryptedData.status}`)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.error || 'Decryption failed.',
                        });
                    }
                },
                error: function() {
                    alert('An error occurred while decrypting the data.');
                }
            });
        });
    });
</script>
{% endblock %}

