{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static '/css/sign_up.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">Products</h1>
    </div>
    <div class="col-auto">
        <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">
                    <a class="btn app-btn-secondary" href="{% url 'product:export-products' %}">
                        <!-- icon -->
                        Export Products
                    </a>
                </div>
               
                <div class="col-auto">
                    <a type="button" class="btn btn-primary" href="{% url 'product:product-create' %}"
                        data-bs-target="#clerkCaseRegisterModel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        New Product
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
        aria-labelledby="orders-all-tab">
        <div class="card app-card app-card-orders-table shadow-sm mb-5">
        <div class="card-body app-card-body">
            <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left text-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th class="cell">Title</th>
                                <th class="cell text-center">Category</th>
                                <th class="cell text-center">Price</th>
                                <th class="cell text-center">Status</th>
                                <th class="cell text-center">Created At</th>
                                <th class="cell text-center">Updated At</th>
                                <th class="cell text-center">Created By</th>
                                <th class="cell text-center">Description</th>
                                {% if user.role in 'admin,staff' %}
                                <th class="cell text-center">Approval</th>
                                {% endif %}
                                <th class="cell text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}

                            <tr>
                                <td class="cell">{{ product.title }}</td>
                                <td class="cell text-center">{{ product.category.name }}</td>
                                <td class="cell text-center">{{ product.price }}</td>
                                <td class="cell text-center">{{ product.get_status_display }}</td>
                                <td class="cell text-center">{{ product.created_at }}</td>
                                <td class="cell text-center">{{ product.updated_at }}</td>
                                <td class="cell text-center">{{ product.created_by.email }}</td>
                                <td class="cell text-center">{{ product.description }}</td>
                                {% if user.role in 'admin,staff' %}

                                <td class="cell text-center">     
                                    {% if product.status == 'draft' %}
                                    <form class="d-inline-block status-form" method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="approved">
                                        <button type="submit" class="btn btn-sm btn-success approval-btn">Approve</button>
                                    </form>
                                    <form class="d-inline-block status-form"  method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="rejected">
                                        <button type="submit" class="btn btn-sm btn-danger approval-btn">Reject</button>
                                    </form>
                                    {% elif product.status == 'approved' %}
                                    <form class="d-inline-block status-form" method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="draft">
                                        <button type="submit" class="btn btn-sm btn-warning approval-btn">Draft</button>
                                    </form>
                                    <form class="d-inline-block status-form" method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="rejected">
                                        <button type="submit" class="btn btn-sm btn-danger approval-btn">Reject</button>
                                    </form>
                                    {% elif product.status == 'rejected' %}
                                    <form class="d-inline-block status-form" method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="draft">
                                        <button type="submit" class="btn btn-sm btn-warning approval-btn">Draft</button>
                                    </form>
                                    <form class="d-inline-block status-form" method="post" action="{% url 'product:product-approval' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="status" value="approved">
                                        <button type="submit" class="btn btn-sm btn-success approval-btn">Approve</button>
                                    </form>
                                    {% endif %}</td>
                                {% endif %}
                                <td class="cell text-center">
                                    <a class="btn btn-sm action-btn" href="{% url 'product:product-detail' product.id %}"><i class="fa-solid fa-eye"></i>View</a>
                                    <a class="btn btn-sm action-btn" href="{% url 'product:product-update' product.id %}"><i class="fa-solid fa-pencil"></i>Edit</a>
                                    <a class="btn btn-sm action-btn" href="{% url 'product:product-delete' product.id %}" ><i class="fa-solid fa-trash"></i>Delete</a>
                               
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="visually-hidden">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="visually-hidden">Previous</span>
                </span>
            </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="visually-hidden">Last</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </span>
            </li>
            {% endif %}
            
            <li class="page-item">
                <div class="input-group">
                    <input type="number" class="form-control col-auto" placeholder="Enter page number"
                        aria-label="Enter page number" id="jump-page-input">
                    <button class="btn btn-outline-secondary" type="button" onclick="jumpToPage()">Jump</button>
                </div>
            </li>
        </ul>
    </nav>

</div>

</div>

{% endblock %}

{% block js %}
<script>
    function jumpToPage() {
        var page = document.getElementById('jump-page-input').value;
        var url = new URL(window.location.href);
        url.searchParams.set('page', page);
        window.location.href = url.href;
    }

$(document).ready(function() {
    $('.status-form').submit(function(event) {
        event.preventDefault(); // Prevent the default form submission

        var form = $(this);
        var formData = form.serialize(); // Serialize form data

        $.ajax({
            url: form.attr('action'),
            method: 'POST',
            data: formData,
            success: function(response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Status updated to ' + response.status,
                    }).then(() => {
                        location.reload(); // Reload the page on success
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: response.error || 'An error occurred.',
                    });
                }
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An unexpected error occurred.',
                });
            }
        });
    });
});

</script>
{% endblock js %}