{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/sign_up.css' %}" rel="stylesheet" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <form method="post">
            {% csrf_token %}
            <span class="login100-form-title mb-3">
                Are you sure you want to delete this product?
            </span>

            <div class="wrap-input100 validate-input mb-3">
                <div class="text-center">
                    <p><strong>Product:</strong> {{ object.title }}</p>
                    <p><strong>Description:</strong> {{ object.description }}</p>
                    <p><strong>Price:</strong> ${{ object.price }}</p>
                    <p><strong>Category:</strong> {{ object.category.name }}</p>
                </div>
            </div>

            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" type="submit">
                    Delete
                </button>
                <a href="{% url 'product:product-list' %}" class="login100-form-btn">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
