{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static '/css/sign_up.css' %}" rel="stylesheet" />
{% endblock %}



{% block content %}
<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">Users</h1>
    </div>
    <div class="col-auto">
        <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">
                    <a type="button" class="btn btn-primary" href="{% url 'authentication:user-create' %}"
                        data-bs-target="#clerkCaseRegisterModel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        New User
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content" id="users-table-tab-content">
    <div class="tab-pane fade show active" id="users-all" role="tabpanel" aria-labelledby="users-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table app-table-hover mb-0 text-left">
                        <thead>
                            <tr>
                                <th class="cell">Email</th>
                                <th class="cell">Role</th>
                                <th class="cell">First Name</th>
                                <th class="cell">Last Name</th>
                                <th class="cell text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="cell">{{ user.email }}</td>
                                <td class="cell">{{ user.role }}</td>
                                <td class="cell">{{ user.first_name }}</td>
                                <td class="cell">{{ user.last_name }}</td>
                                <td class="cell text-center">
                                    <a href="{% url 'authentication:user-update' user.pk %}">Edit</a>
                                    <a href="{% url 'authentication:user-delete' user.pk %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="visually-hidden">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="visually-hidden">Previous</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="visually-hidden">Previous</span>
                </span>
            </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="visually-hidden">Last</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-disabled="true">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="visually-hidden">Next</span>
                </span>
            </li>
            {% endif %}
            
            <li class="page-item">
                <div class="input-group">
                    <input type="number" class="form-control col-auto" placeholder="Enter page number"
                        aria-label="Enter page number" id="jump-page-input">
                    <button class="btn btn-outline-secondary" type="button" onclick="jumpToPage()">Jump</button>
                </div>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
