{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    <form method="post">
                        {% csrf_token %}

                        
                        
                        {% if form.errors %}
                            <div class="error alert alert-danger">
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <h5 class="form-label text-center">
                                {% if form.instance.pk %}
                                    Update User
                                {% else %}
                                    Create User
                                {% endif %}
                            </h5>
                        </div>

                        <!-- Email Field -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" value="{{ form.email.value|default:'' }}" required>
                        </div>

                        <!-- Role Field -->
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select class="form-control" name="role" required>
                                <option value="admin" {% if form.role.value == 'admin' %}selected{% endif %}>Admin</option>
                                <option value="staff" {% if form.role.value == 'staff' %}selected{% endif %}>Staff</option>
                                <option value="agent" {% if form.role.value == 'agent' %}selected{% endif %}>Agent</option>
                            </select>
                        </div>

                        <!-- First Name Field -->
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ form.first_name.value|default:'' }}" required>
                        </div>

                        <!-- Last Name Field -->
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ form.last_name.value|default:'' }}" required>
                        </div>
                        <!-- Last Name Field -->
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Is active</label>
                            {{form.is_active}}
                        </div>

                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password" value="{{ form.password.value|default:'' }}" required {% if form.fields.password.widget.attrs.readonly %}readonly{% endif %}>
                            {% if form.fields.password.help_text %}
                                <small class="form-text text-muted">{{ form.fields.password.help_text }}</small>
                            {% endif %}
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn app-btn-primary">
                                {% if form.instance.pk %}
                                    Update
                                {% else %}
                                    Create
                                {% endif %}
                            </button>
                            <a href="{% url 'authentication:user-list' %}" class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
